<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jp Sealed Secret Generator</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function validateEnvInput() {
            
            const textarea = document.getElementById("env_content");
            const errorDiv = document.getElementById("error-message");
            const lines = textarea.value.split("\n");
            const envPattern = /^[A-Za-z_][A-Za-z0-9_]*=.*$/;
            let seenKeys = new Set();

            for (let line of lines) {
                if (!line.trim() || line.startsWith("#")) continue;
                if (!envPattern.test(line)) {
                    errorDiv.textContent = "❌ Invalid format: " + line;
                    return false;
                }
                let key = line.split("=")[0];
                if (seenKeys.has(key)) {
                    errorDiv.textContent = "❌ Duplicate key: " + key;
                    return false;
                }
                seenKeys.add(key);
            }
            if (!textarea.value.trim()) {
                errorDiv.textContent = "❌ Please enter environment variables before submitting."
                return false;
                event.preventDefault(); // Stop form submission
            }
            errorDiv.textContent = "";  // Clear errors
            return true;
        }
    </script>
</head>
<body class="bg-gray-100 flex flex-col justify-center items-center h-screen">
    <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
        <h2 class="text-2xl font-bold text-center text-gray-800">Sealed Secret Generator</h2>
        <form id="env_form" action="/" method="post" class="mt-4" onsubmit="return validateEnvInput();">
            <label class="block text-gray-700 font-medium">Namespace:</label>
            <select name="namespace" class="w-full border p-2 rounded mb-4">
                {% for ns in namespaces %}
                <option value="{{ ns }}">{{ ns }}</option>
                {% endfor %}
            </select>

            <label class="block text-gray-700 font-medium">Paste .env Content:</label>
            <textarea id="env_content" name="env_content" rows="8" 
                class="w-full font-mono border p-2 rounded bg-gray-50"
                oninput="validateEnvInput()"></textarea>

            <p id="error-message" class="text-red-500 mt-2">{{ error_message }}</p>

            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded mt-4 w-full">
                Generate Sealed Secret
            </button>
        </form>
    </div>
    <footer class="text-center text-gray-600 mt-6">
        &copy; <span id="year"></span> <a href="https://github.com/DevNgugi/env-to-sealed-secrets-generator">Dev Ngugi</a>
    </footer>
    
    <script>
        document.getElementById("year").textContent = new Date().getFullYear();

    </script>
  
    
</body>
</html>
