<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sealed Secret Generated</title>
    <script src="https://cdn.jsdelivr.net/npm/js-yaml@4.1.0/dist/js-yaml.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex flex-col justify-center items-center h-screen">
    <div class="bg-white p-6 rounded-lg shadow-lg w-2/3">
        <h2 class="text-2xl font-bold text-center text-gray-800">Sealed Secret Generated</h2>

        <!-- YAML Preview -->
        <pre class="bg-gray-900 text-green-400 p-4 rounded mt-4 font-mono overflow-auto">
            <code id="yaml-preview"></code>
        </pre>

        <!-- Download Button -->
        <a href="{{ url_for('download_file', filename='custom-env-secret-sealed.yaml') }}"
            class="bg-blue-500 text-white px-4 py-2 rounded mt-4 block text-center">
            📥 Download Sealed Secret
        </a>

        <!-- Back Button -->
        <a href="/" class="bg-gray-500 text-white px-4 py-2 rounded mt-4 block text-center">
            ⬅️ Back to Input
        </a>
    </div>
    <footer class="text-center text-gray-600 mt-6">
        &copy; <span id="year"></span> Jp Devops Team
    </footer>
  
    <script>
        const yamlContent = {{ sealed_secret | tojson }};
        document.getElementById("yaml-preview").textContent = jsyaml.dump(yamlContent);
        document.getElementById("year").textContent = new Date().getFullYear();

    </script>
</body>
</html>
